<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        <p>Serviço</p>
        <select name="services">
            {% for i in employeers%}
                <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <p>Funcionário</p>
        <select name="employers">
            {% for i in services%}
                <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}    
        </select>
        <p>Horário</p>
        <select name="times">
            {% for i in time%}
                <option value="{{i.date}}">{{i.date}}</option>]
            {% endfor %}    
        </select>
        <button type="submit">Disponibilizar Horários</button>
    </form>
</body>
</html>